[Unit]
Description=BMC Debug Trigger
After=xyz.openbmc_project.Dump.Manager.service

[Service]
Type=simple
Environment=DEBUG_TRIGGER_OPTIONS= DEBUG_TRIGGER_SOURCE=/%I DEBUG_TRIGGER_SINK=/proc/sysrq-trigger
EnvironmentFile=-/etc/default/debug-trigger
ExecStart=/usr/bin/debug-trigger $DEBUG_TRIGGER_OPTIONS $DEBUG_TRIGGER_SOURCE $DEBUG_TRIGGER_SINK
