[Unit]
Description=BMC Debug Trigger
After=xyz.openbmc_project.Dump.Manager.service

[Service]
Type=simple
ExecStart=/usr/bin/debug-trigger /%I /proc/sysrq-trigger
